.container {
  background-color: rgb(214, 192, 80);
  padding: 30px;
}

.card {
  width: 400px;
  border: 1px solid gray;
  margin: 0 auto;
}

.title {
  padding: 20px;
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
}